figure,
body {
    margin: 0;
}

.nav-topFirst li,
.nav-topLast li,
.nav-bottom li {
    list-style: none;
    text-decoration: none;
}

.Latest-funding-news,
.row,
.column {
    display: flex;
}

.Latest-funding-news {
    margin: 40px 0;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.w-flex {
    flex: 1 1;
}

.latest-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 40px 0;
}

.news-latest {
    margin: 0 10px;
}

.latest-newsPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header>nav>a {
    background-color: #000;
    height: 48px;
    width: 106px;
}

header>nav>a>img {
    width: 66px;
}

header>nav>a:after {
    content: ' ';
    flex: 1 1;
}

.clickable {
    cursor: pointer;
}

.main-center {
    justify-content: center;
}

.cross-center {
    align-items: center;
}

.search {
    width: 48px;
}

main {
    padding: 10px;
}

.w-100 {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .hide-mob {
        display: none;
    }
}