@font-face {
  font-family: maquette;
  font-weight: normal;
  src: url("assets/fonts/ars-maquette-regular.woff");
}

@font-face {
  font-family: maquette;
  font-weight: bold;
  src: url("assets/fonts/ars-maquette-bold.woff");
}

@font-face {
  font-family: shentox;
  src: url("assets/fonts/shentox-medium.woff2");
}

@font-face {
  font-family: avalon;
  font-weight: bold;
  src: url("assets/fonts/avalon-bold.woff");
}

@font-face {
  font-family: acsbi;
  src: url("assets/fonts/acsbi.ttf");
}

h4,
p,
figure,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.nav-topFirst li,
.nav-topLast li,
.nav-bottom li {
  list-style: none;
  text-decoration: none;
}

.row,
.row-reverse,
.column {
  display: flex;
}

.section-4 figure.row-reverse img {
  width: 96px;
  height: 96px;
}

.section-4 figure.row-reverse {
  background-color: rgba(255,68,34,.08);
}

.section-4 figure.row-reverse > figcaption {
  padding: 14px;
  height: 96px;
}

.latest-funding-news {
  margin: 40px 0;
}

.latest-funding-news header {
  position: relative;
  background-color: rgba(255,68,34,.08);
}

.latest-funding-news header > h3,
.latest-funding-news header > h4,
.latest-funding-news header > h5 {
  padding-left: 84px;
  margin: 0;
}

.latest-funding-news header > h3 {
  height: 44px;
  background-color: #f42;
  color: white;
}

.latest-funding-news header > h4 {
  padding-top: 10px;
}

.latest-funding-news header > h5 {
  color: grey;
  padding-bottom: 10px;
}

.latest-funding-news header > img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.latest-funding-news > div > a:first-of-type {
  padding: 16px 16px 10px;
}

.latest-funding-news > div > a:last-of-type {
  padding: 0 16px 16px;
}

.latest-funding-news small {
  padding: 16px;
}

.latest-funding-news hr {
  margin: 0;
  border-color: rgba(255,68,34,.08);
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.w-flex {
  flex: 1 1;
}

.latest-deals,
.latest-news {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 40px 0;
}

.latest-deals small {
  color: rgba(0, 0, 0, 0.8);
}

.latest-deals small > span {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: line-through;
}

.latest-news small {
  color: grey;
}

.latest-deals figure img,
.latest-news figure img {
  margin: 0 10px;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

body > header:first-child {
  position: fixed;
  z-index: 2;
  background-color: #fff;
  width: 100vw;
  height: 48px;
}

header > nav > a {
  background-color: #000;
  height: 48px;
  width: 106px;
}

header > nav > a > img {
  width: 66px;
}

.clickable {
  cursor: pointer;
}

.main-center {
  justify-content: center;
}

.main-end {
  justify-content: flex-end;
}

.cross-center {
  align-items: center;
}

.cross-start {
  align-items: flex-start;
}

header > nav > div.clickable {
  width: 48px;
}

.search {
  margin-left: auto;
}

main {
  padding: 10px;
}

.section-1 {
  margin-top: 48px;
}

.section-4 .row-1 figure,
.section-1 figure {
  position: relative;
  width: 100%;
}

.section-1 figure {
  margin-bottom: 10px;
}

.section-4 .row-1 figure > figcaption,
.section-1 figure > figcaption {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(transparent, #000);
}

.section-1 figure > figcaption .row a > img {
  height: 10px;
  width: 10px;
  margin: 0 10px;
  filter: invert(1);
}

.section-4 .row-1 figure > figcaption > div a,
.section-4 .row-1 figure > figcaption > div,
.section-1 figure > figcaption > div a,
.section-1 figure > figcaption > div {
  color: grey;
}

.section-4 .row-1 figure > figcaption > div > time,
.section-4 .row-1 figure > figcaption > div > span,
.section-1 figure > figcaption > div > time,
.section-1 figure > figcaption > div > span {
  margin-left: 10px;
}

.section-4 .row-1 figure > figcaption,
.section-1 figure > figcaption {
  padding: 10px;
}

.section-4 .row-1 figure > figcaption a,
.section-1 figure > figcaption a {
  color: #fff;
}

section h2 > a > img {
  height: 13px;
}

.w-100 {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .hide-mob {
    display: none;
  }
}

.footer-address {
	background-color: #000;
	color: white;
}

.footer-icon {
	margin: 0 auto;
  background-color: #000;
  opacity: 0.9;
}

.footer-address,
.footer-icon {
  height: 160px;
}

.footer-icon > div:first-child > img {
  height: 30px;
  width: 30px;
  margin: 7.5px;
}

.footer-icon > div:last-child > a {
  margin: 10px 0 0 7.5px;
}

.footer-icon > div:first-child > img:nth-child(6),
.footer-icon > div:first-child > img:nth-child(7) {
  filter: invert(1);
}

.footer-address > img {
  float: left;
}